
.regular-customers {
    padding-top:60px;
    padding-bottom: 60px;
    @media screen and(min-width:1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
    
        &-items {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        /*justify-content: space-between;*/
        }

    &-link {
        display: flex;
        /*justify-content: space-between;*/
        /*width: 170px;*/
        height: 92px;
        justify-content: center;
        align-items: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: #AFB1B8;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
        }

    &-link:hover,
    &-link:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
     }
        
     &-icon {
        fill: currentColor
     }
}

.regular {
    width: 100%;
    width: calc((100% - 30px) / 2);
        
    @media screen and (min-width:768px) {
           width: calc((100% - 60px) / 3);
        }
   @media screen and (min-width:1200px) {
       width: calc((100% - 150px) / 6);
   }
}

.reg {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 30px;
    @media screen and(min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
        }
}








