:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --white-text-color: #FFFFFF;
    --footer-text-color: #FFFFFF99;
    --accent-color: #2196F3;
    --secondary-text-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --portfolio-shadow-set: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --button-backgroud-color: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}